.banner {
  position: relative;
  padding-top: 26px;

  font-family: @font-regular;
  text-align: center;
  color: @color-bg-main;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 305px;

    background-color: @color-accent-bg;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 320px 305px;
    background-position: center;

    z-index: -1;
  }
}

.banner__title {
  .reset-header();

  margin-bottom: 26px;

  font-size: 36px;
  line-height: 36px;
}

.banner__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.banner__img {
  width: 280px;
  height: 270px;
}

.banner__btn {
  font-size: 14px;
  line-height: 18px;

  padding-top: 10px;
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .banner {
    padding-top: 48px;

    text-align: left;
    color: @color-title;

    background-image: none;
    background-color: @color-bg-main;

    &::before {
      content: none;
    }
  }

  .banner__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: @tablet-padding + 133;
  }

  .banner__title {
    width: 430px;
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
  }

  .banner__text {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .banner__img {
    width: 709px;
    height: 609px;
    margin: 0;

    order: 5;
  }

  .banner__btn {
    width: auto;
    margin-right: auto;
    margin-bottom: -80px;
    padding: 15px 27px 17px 27px;

    font-size: 20px;
    line-height: 20px;

    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    margin-bottom: 130px;
    padding-top: 100px;

    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      top: -120px;
      left: 50%;

      width: 50vw;
      height: 696px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px 696px;
      background-position: bottom right;
    }
  }

  .banner__container {
    padding-left: 135px + @desktop-padding;
  }

  .banner__img {
    width: 552px;
    height: 499px;
    margin-left: 400px;
    margin-top: -280px;
  }

  .banner__text {
    margin-bottom: 53px;
  }
}
