.banner {
  position: relative;

  margin-bottom: 20px;

  font-family: @font-regular;
  text-align: center;
  color: @color-bg-main;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px dashed #000000;
}

.banner__title {
  .reset-header();

  margin-top: 26px;

  font-size: 36px;
  line-height: 36px;
}

.banner__text {
  margin: 0;
  margin-top: 26px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.banner__img {
  margin-top: 29px;
}

.banner__btn {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .banner {
    margin-bottom: 0;
    padding-left: 90px + @tablet-padding;

    text-align: left;
    color: @color-title;

    background-image: none;
    background-color: @color-bg-main;
  }

  .banner__title {
    width: 430px;
    margin-top: 48px;

    font-size: 60px;
    line-height: 60px;
  }

  .banner__text {
    margin-top: 43px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .banner__img {
    width: 709px;
  }

  .banner__btn {
    width: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;
  }
}

// @media (min-width: @desktop-width) {
//
// }
