.button {
  display: block;
  margin: 0 auto;
  padding: 12px 10px 10px 10px;
  width: 260px;

  font-size: 14px;
  line-height: 18px;
  font-family: @regular-font;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  background-color: @leaf;
}
