.button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 10px 10px 10px;
  width: 100%;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-regular;
  text-transform: uppercase;
  text-align: center;
  color: @color-bg-main;

  background-color: @color-accent;
}
