.button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 9px 10px 11px 10px;
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  font-family: @font-regular;
  text-transform: uppercase;
  text-align: center;
  color: @color-bg-main;

  background-color: @color-accent;
  border: none;
}

.button:hover,
.button:focus {
  background-color: @color-accent-hover;
}

.button:active {
  color: fade(@color-bg-main, 70%);
}
