.example {
  font-family: @font-regular;
  color: @color-title;

  background-color: @color-bg-sub;
}

.example__title {
  .reset-header();

  margin-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 14px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-add;
  color: @color-text-main;
}

.example__list {
  .reset-list();

  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.example__parameter {
  width: 124px;

  text-align: center;
}

.example__parameter-value {
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;
  margin-bottom: -9px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;

  border: 1px solid @color-border-main;
  border-radius: 3px;
}

.example__parameter-name {
  display: inline-block;
  width: 77px;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 12px;
  line-height: 12px;
  font-family: @font-add;
  color: @color-text-main;

  background-color: @color-bg-sub;
}

.example__cost {
  align-self: center;
  margin-top: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: @tablet-width) {
  .example__container {
    &--outer {
      width: @mobile-width - 2 * @mobile-padding;
      margin-right: auto;
      margin-left: auto;
      padding-top: 17px;
      padding-right: @mobile-padding;
      padding-left: @mobile-padding;
    }
  }

  .example__slider {
    width: @mobile-width - 2 * @mobile-padding;
    margin-right: auto;
    margin-left: auto;
    padding-right: @mobile-padding;
    padding-bottom: 27px;
    padding-left: @mobile-padding;
  }
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @color-bg-main;
  }

  .example__title {
    margin-bottom: 64px;

    font-size: 60px;
  }

  .example__list {
    justify-content: space-between;
    width: 367px;
    margin-bottom: 0;
  }

  .example__parameter {
    flex-shrink: 0;
    width: 162px;
  }

  .example__parameter-value {
    padding-top: 14px;
    padding-bottom: 20px;
    margin-bottom: -13px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__parameter-name {
    width: auto;
    max-width: 132px;

    font-size: 14px;
    line-height: 14px;

    background-color: @color-bg-main;
  }

  .example__text {
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__cost {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__cost-name {
    margin-bottom: 10px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .example__slider {
    background-image: linear-gradient(@color-bg-main 169px, transparent 169px), linear-gradient(to right, @color-bg-sub 50%, @color-button-hover 50%);
  }

  .example__container {
    &--outer {
      width: @tablet-width - 2 * @tablet-padding;
      margin-right: auto;
      margin-bottom: 80px;
      margin-left: auto;
      padding-top: 17px;
      padding-right: @tablet-padding;
      padding-left: @tablet-padding;
    }

    &--inner {
      display: flex;
      justify-content: space-between;
    }

    &--slider {
      width: @tablet-width - 2 * @tablet-padding;
      margin-right: auto;
      margin-left: auto;
      padding-right: @tablet-padding;
      padding-bottom: 27px;
      padding-left: @tablet-padding;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-image: linear-gradient(@color-bg-main 135px, transparent 135px), linear-gradient(to right, @color-bg-sub 50%, @color-button-hover 50%);
  }

  .example__container {
    &--outer {
      width: 440px;
    }

    &--inner {
      flex-direction: column;
    }

    &--main {
      display: flex;
      justify-content: space-between;
      width: @desktop-width - 2 * @desktop-padding;
      margin-right: auto;
      margin-left: auto;
      padding-right: @desktop-padding;
      padding-left: @desktop-padding;
    }
  }

  .example__title {
    margin-bottom: 145px;
  }

  .example__text {
    margin-bottom: 68px;
  }

  .example__list {
    margin-bottom: 55px;
  }

  .example__cost {
    flex-direction: row;
    justify-content: space-between;
    width: 325px;

    text-align: left;
  }

  .example__cost-name {
    margin-bottom: 0;
  }

  .example__parameter-name {
    background-color: @color-bg-sub;
  }

  .example__slider {
    width: 690px;
    margin-top: -55px;

    background-image: linear-gradient(@color-bg-main 190px, transparent 190px), linear-gradient(to right, @color-bg-sub 408px, @color-button-hover 408px);
  }
}
