.example {
  font-family: @font-regular;
  color: @color-title;

  background-color: @color-bg-sub;
}

.example__container {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-bottom: 25px;
}

.example__title {
  .reset-header();

  margin-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
}

.example__text {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 14px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-add;
  color: @color-text-main;
}

.example__list {
  .reset-list();

  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.example__parameter {
  width: 124px - 2 * 20 - 2 * 1;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  border: 1px solid @color-border-main;
  border-radius: 3px;
}

.example__parameter-value {
  display: block;
  margin-bottom: 9px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.example__parameter-name {
  display: block;
  margin-bottom: -16px;

  font-size: 12px;
  line-height: 12px;
  font-family: @font-add;
  color: @color-text-main;

  background-color: @color-bg-sub;
}

.example__cost {
  align-self: center;
  margin-top: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example-slider {
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @color-bg-main;
  }

  .example__title {
    margin-bottom: 60px;

    font-size: 60px;
  }

  .example__parameter {
    margin-right: 42px;
  }

  .example__text {
    width: 100%;

    font-size: 16px;
    line-height: 24px;
  }

  .example__slider {
    background-color: @color-bg-sub;
  }

  .example__parameter-name {
    background-color: @color-bg-main;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    margin-bottom: 75px;
  }

  .example__text {
    margin-bottom: 70px;
  }

  .example__parameter-name {
    background-color: @color-bg-sub;
  }

  .example__slider {
    margin-top: -200px;

    background-color: transparent;
  }
}
