.extra-catalog {
  margin: 20px auto;

  border: 1px dashed #000000;
}

.extra-catalog__list {
  .reset-list();

  margin-bottom: 55px;
}

.extra-catalog__title {
  .reset-header();

  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-family: @font-regular;
  color: @color-title;
}

.extra-catalog__gift {
  position: relative;

  box-sizing: border-box;
  min-height: 289px;
  padding: 40px 60px;

  text-align: center;

  background-color: @color-accent;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 289px;

  &::before {
    content: "";

    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -28px;

    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.extra-catalog__gift-text {
  margin: 0;
  margin-top: 150px;

  font-size: 16px;
  line-height: 20px;
  font-family: @font-add;
  text-align: center;
  color: @color-bg-main;
}
