.food-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 24px;

  background-color: @color-bg-main;

  &--more {
    position: relative;
    padding-top: 80px;

    &::before {
      content: "";

      position: absolute;
      top: 25px;

      align-self: center;

      width: 31px;
      height: 31px;

      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      opacity: 0.2;
    }
  }

  &--extra {
    padding-top: 14px;
    padding-bottom: 17px;
  }
}

.food-card__container {
  display: flex;
  align-items: center;

  &--inner {
    flex-direction: column;
    justify-content: space-around;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--extra {
    flex-direction: column;
    align-items: flex-start;
  }
}

.food-card__img {
  display: block;
  width: 140px;
  height: 144px;
}

.food-card__link {
  flex-shrink: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.food-card__title {
  .reset-header();

  min-width: 75px;
  margin-right: 45px;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
  font-family: @font-regular;
  text-transform: uppercase;
  color: @color-title;

  &--more {
    margin-right: 0;
    margin-bottom: 8px;

    text-align: center;
  }

  &--extra {
    line-height: 16px;
    color: @color-text-sub;
  }
}

.food-card__table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
  font-family: @font-add;
  color: @color-text-main;

  border-collapse: collapse;

  &--extra {
    margin-bottom: 15px;
    margin-left: auto;

    font-size: 14px;
    line-height: 14px;
  }
}

.food-card__parameter-name {
  padding: 0;

  text-align: left;
}

.food-card__parameter-value {
  padding: 0;

  text-align: right;
}

.food-card__btn {
  &--more {
    color: @color-text-main;

    background-color: @color-bg-sub;
  }

  &--more:hover,
  &--more:focus {
    background-color: @color-button-hover;
  }

  &--more:active {
    color: fade(@color-text-main, 70%);
  }
}

.food-card__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: @font-add;
  text-align: center;
  color: @color-text-main;
}

@media (min-width: @tablet-width) {
  .food-card {
    &--img {
      align-items: center;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 40px;

      background-image: linear-gradient(transparent 82px, @color-bg-sub 82px);
    }

    &--more {
      align-items: center;
      margin-top: 82px;
      padding-top: 163px;
      padding-bottom: 40px;

      border: 1px solid @color-border-main;
      background-color: @color-bg-main;

      &::before {
        top: 52px;

        width: 61px;
        height: 61px;

        background-image: url("../img/icon-plus.svg");
      }
    }

    &--extra {
      width: 100%;
      padding-top: 25px;
      padding-right: 36px;
      padding-bottom: 27px;
      padding-left: 36px;

      background-color: @color-bg-main;
    }
  }

  .food-card__container {
    &--outer {
      flex-direction: column;
      align-items: center;
    }

    &--inner {
      padding-top: 36px;
      padding-bottom: 34px;
    }

    &--extra {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 20px;
    }
  }

  .food-card__title {
    width: 135px;
    margin-right: 0;
    margin-bottom: 21px;

    font-size: 20px;
    text-align: center;

    &--extra {
      margin-bottom: 0;
      padding-bottom: 6px;

      line-height: 20px;
      text-align: left;
    }

    &--more {
      margin-bottom: 25px;
    }
  }

  .food-card__link {
    &--img {
      display: flex;
      height: 208px;
    }
  }

  .food-card__img {
    width: 324px;
    height: auto;
    margin-top: auto;
  }

  .food-card__table {
    width: 250px;
    margin-bottom: 0;

    font-size: 16px;
    vertical-align: top;

    border-collapse: collapse;

    &--extra {
      width: 300px;

      font-size: 16px;
      line-height: 20px;
    }
  }

  .food-card__parameter-name {
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid @color-border-main;

    &--extra {
      padding-top: 0;
      padding-bottom: 0;

      text-align: right;

      border: none;
    }
  }

  .food-card__parameter-value {
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid @color-border-main;

    &--extra {
      width: 95px;
      padding-top: 0;
      padding-bottom: 0;

      border: none;
    }
  }

  .food-card__btn {
    width: 250px;
    margin-top: auto;

    &--extra {
      width: 100%;
    }
  }

  .food-card__text {
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .food-card {
    width: 245px;

    &--extra {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding-top: 16px;
      padding-right: 0;
      padding-bottom: 15px;
      padding-left: 0;
    }
  }

  .food-card__container {
    &--extra {
      flex-grow: 1;
      align-items: flex-end;
      width: 480px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .food-card__table {
    width: 165px;

    &--extra {
      width: 316px;
      margin-left: auto;
    }
  }

  .food-card__img {
    width: 245px;
    height: auto;
  }

  .food-card__btn {
    width: 170px;

    &--extra {
      width: 245px;
    }
  }

  .food-card__parameter-name {
    &--extra {
      text-align: left;
    }
  }

  .food-card__parameter-value {
    &--extra {
      width: 72px;

      text-align: left;
    }
  }

  .food-card__title {
    &--extra {
      padding-bottom: 3px;
    }
  }
}
