.food-card {
  display: flex;
  flex-direction: column;

  padding: 15px 0;

  background-color: @color-bg-main;
  border-bottom: 1px solid @color-border-sub;

  &--more {
    position: relative;
  }

  &--more::before {
    content: "";

    position: absolute;

    align-self: center;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

.food-card__container {
  display: flex;

  &--column {
    flex-direction: column;
  }
}

.food-card__title {
  .reset-header();

  font-size: 16px;
  line-height: 20px;
  font-family: @font-regular;
  text-transform: uppercase;
  color: @color-title;

  &--more {
    margin-top: 52px;

    text-align: center;
  }

  &--extra {
    line-height: 16px;
    color: @color-text-sub;
  }
}

.food-card__table {
  font-size: 12px;
  line-height: 16px;
  font-family: @font-add;
  color: @color-text-main;

  &--extra {
    font-size: 14px;
    line-height: 14px;
  }
}

.food-card__parameter-name {
  text-align: left;
}

.food-card__parameter-value {
  text-align: right;
}

.food-card__btn {
  &--more {
    color: @color-text-main;

    background-color: @color-bg-sub;
  }

  &--more:hover,
  &--more:focus {
    background-color: @color-button-hover;
  }

  &--more:active {
    color: fade(@color-text-main, 70%);
  }
}

.food-card__text {
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: @font-add;
  text-align: center;
  color: @color-text-main;
}
