.form {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 18px;
  font-family: @font-regular;
  text-align: left;
  text-transform: uppercase;
  color: @color-text-sub;
}

.form__list {
  .reset-list();

  margin-bottom: 23px;

  &--bordered {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 26px;
    padding-right: 19px;
    padding-bottom: 26px;
    padding-left: 19px;

    border: 1px solid @color-border-main;
  }

  &--options {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__part {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;
}

.form__title {
  .reset-header();

  position: relative;

  display: inline-block;
  margin-top: 28px;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  color: @color-title;

  background-color: #ffffff;

  &::after {
    content: "";

    position: absolute;
    top: 12px;
    left: 100%;

    height: 3px;
    width: 100vw;
    margin-left: 22px;

    background-color: @color-accent;
    transform: translateY(50%);
  }
}

.form__btn {
  margin-top: 35px;
  margin-bottom: 20px;
}

.form__note {
  display: block;

  font-size: 14px;
  line-height: 15px;
  font-family: @font-add;
  text-align: center;
  text-transform: none;
  color: @color-text-main;
}

//----------------------------------------------------
// Общие стили инпутов
//----------------------------------------------------

.form__input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &--options {
    margin-bottom: 25px;
    margin-left: 46px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  min-width: 50px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 16px;

  border: none;
  outline: 1px solid fade(@color-border-main, 50%);
  //----------------------------------------------------
  // Стили для текстовых инпутов
  &--text {
    margin-left: 15px;

    &:hover {
      outline-color: @color-border-main;
    }

    &:focus,
    &:active {
      outline-color: @color-text-main;
      outline-width: 2px;
    }
  }

  &--text-area {
    resize: none;

    padding-top: 14px;
    padding-bottom: 9px;

    &:hover {
      outline-color: @color-border-main;
    }

    &:focus,
    &:active {
      outline-color: @color-text-main;
      outline-width: 2px;
    }
  }

  &--error {
    outline-color: @color-error;
    outline-width: 2px;
  }

  &::-webkit-input-placeholder {
    color: @color-text-main;
    text-transform: uppercase;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: @color-text-main;
    text-transform: uppercase;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: @color-text-main;
    text-transform: uppercase;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: @color-text-main;
    text-transform: uppercase;
    opacity: 1;
  }

  // Стили для текстовых инпутов с иконками

  &--icon {
    margin-left: 10px;
    padding-right: 35px;

    background-repeat: no-repeat;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 14px;
    background-position: 93% center;

    &:focus,
    &:active {
      background-image: url("../img/icon-mail-active.svg");
    }

    &.form__input--error {
      background-image: url("../img/icon-mail-error.svg");
    }
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 21px 21px;
    background-position: 93% center;

    &:focus,
    &:active {
      background-image: url("../img/icon-phone-active.svg");
    }

    &.form__input--error {
      background-image: url("../img/icon-phone-error.svg");
    }
  }

  // Общие стили для поведения радиобаттонов и чекбоксов

  &:hover {
    & + .form__label--icon::before {
      border-color: @color-border-hover;
    }
  }

  &:focus {
    & + .form__label--icon::before {
      border-color: @color-border-hover;
      outline: 1px dotted @color-text-main;
      outline-offset: 3px;
    }
  }

  &:disabled {
    & + .form__label--icon::before,
    & + .form__label--icon {
      border-color: @color-text-main;
      opacity: 0.3;
    }
  }

  // Стили для поведения радиобаттонов

  &--radio {
    &:checked {
      & + .form__label--icon::after {
        width: 12px;
        height: 12px;

        background-color: @color-accent;
        border-radius: 50%;
        transform: translateX(-46px + 30 / 2 - 12 / 2) translateY(-50%);
      }
    }
  }

  // Стили для поведения чекбоксов

  &--checkbox {
    &:checked {
      & + .form__label--icon::after {
        width: 9px;
        height: 18px;

        border: 2px solid @color-accent;
        border-top: none;
        border-left: none;
        transform: rotate(45deg) translateX(-46px + 30 / 2 - 12 / 2) translateY(15px);
      }
    }
  }
}

.form__label {
  flex-shrink: 0;

  //-------------------------------------------------------
  // Общие стили для стилизации радиобаттонов и чекбоксов

  &--icon {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid @color-border-main;
      transform: translateX(-46px) translateY(-50%);
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;
    }
  }

  &--radio::before {
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .form {
    font-size: 20px;
    line-height: 20px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__list {
    &--bordered {
      margin-left: 0;
      margin-right: 0;
      padding: 25px 30px;

      border: 1px solid @color-border-main;
    }
  }

  .form__input-wrapper {
    &--row {
      width: 250px;
    }
  }

  .form__input {
    &--text-area {
      line-height: 30px;
    }
  }

  .form__btn {
    width: 280px;
    margin-right: 20px;
  }

  .form__note {
    font-size: 16px;
    line-height: 16px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &--btn {
      justify-content: flex-start;
    }

    &--columns {
      flex-direction: column;
      align-items: stretch;
    }

    &--contact {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__list {
    &--column {
      box-sizing: border-box;
      width: 570px;
    }
  }

  .form__input-wrapper {
    &--row {
      width: 200px;
    }
  }

  .form__wrapper {
    &--columns {
      flex-direction: row;
    }

    &--contact {
      flex-direction: row;
    }
  }
}
