.goals {
  margin-bottom: 12px;

  border: 1px dashed #000000;
}

@media (min-width: @tablet-width) {
  .goals {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .goals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}
