.main-menu {
  padding-top: 10px;

  color: @color-title;

  background-color: @color-bg-main;
}

.main-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}

.main-menu__list {
  .reset-list();

  width: 100%;
}

.main-menu__item {
  border-bottom: 1px solid @color-border-sub;
}

.main-menu__toggle {
  display: block;
  width: 30px;
  height: 30px;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 19px;
  border: none;
}

.main-menu__link {
  display: block;
  padding: 23px 10px;

  font-size: 20px;
  line-height: 20px;
  font-family: @font-medium;
  text-align: center;
  text-transform: uppercase;
  color: @color-title;

  &:hover,
  &:focus {
    color: fade(@color-title, 60%);
  }

  &:active {
    color: fade(@color-title, 30%);
  }
}

@media (min-width: @tablet-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .main-menu__logo {
    width: 174px;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__list {
    display: flex;
    justify-content: flex-end;
    width: 490px;
    padding-right: @tablet-padding;
  }

  .main-menu__item {
    border: none;
  }

  .main-menu__link {
    margin-left: 35px;
    padding: 23px 0;

    font-size: 18px;
    line-height: 25px;
    font-family: @font-regular;
    color: @color-text-sub;
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    background-color: transparent;
  }

  .main-menu__logo {
    background-color: @color-bg-main;
  }

  .main-menu__list {
    width: 720px - @desktop-padding;
    padding-top: 25px;
    padding-right: @desktop-padding;
  }

  .main-menu__link {
    font-size: 20px;

    &--index {
      color: @color-bg-main;
    }
  }
}
