.main-catalog {
  margin-bottom: 30px;
}

.main-catalog__list {
  .reset-list();

  padding-top: 3px;
}

.main-catalog__item {
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 19px;
  padding-left: 19px;

  border: 1px solid @color-border-sub;
  border-top: none;

  &:first-child {
    border-top: 1px solid @color-border-sub;
  }
}

@media (min-width: @tablet-width) {
  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-catalog__item {
    margin-right: 60px;
    margin-bottom: 30px;
    margin-left: 0;

    border: none;

    &:first-child {
      border: none;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__item {
    margin-right: 80px;
  }

  .main-catalog__item:nth-child(4n-2) {
    margin-right: 80px;
  }
}
