.main-menu {
  padding-top: 10px;

  color: @color-title;

  background-color: @color-bg-main;
}

.main-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  padding-right: @mobile-padding;
  padding-left: @mobile-padding;
}

.main-menu__logo-img {
  width: 191px;
  height: 39px;
}

.main-menu__list {
  .reset-list();

  width: 100%;

  border-top: 1px solid @color-border-sub;
}

.main-menu__item {
  border-bottom: 1px solid @color-border-sub;
}

.main-menu__link {
  display: block;
  padding: 22px 10px 23px 10px;

  font-size: 20px;
  line-height: 20px;
  font-family: @font-medium;
  text-align: center;
  text-transform: uppercase;
  color: @color-title;

  &:hover,
  &:focus {
    color: fade(@color-title, 60%);
  }

  &:active {
    color: fade(@color-title, 30%);
  }

  &--current {
    color: fade(@color-title, 50%);

    cursor: default;
  }
}

@media (max-width: @tablet-width) {
  .main-menu__toggle {
    box-sizing: content-box;
    min-width: 25px;
    height: 25px;
    padding: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--opened {
      background-image: url("../img/icon-close.svg");
      background-size: 19px 19px;
    }

    &--closed {
      background-image: url("../img/icon-mobile-menu.svg");
      background-size: 25px 19px;
    }
  }

  .main-menu__list {
    &--closed {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .main-menu__logo-img {
    width: 174px;
    height: auto;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__list {
    display: flex;
    justify-content: flex-end;
    width: 490px;
  }

  .main-menu__item {
    border: none;
  }

  .main-menu__link {
    margin-left: 35px;
    padding: 23px 0;

    font-size: 18px;
    line-height: 25px;
    font-family: @font-regular;
    color: @color-text-sub;
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    background-color: transparent;
  }

  .main-menu__logo-img {
    width: 203px;
    height: auto;

    background-color: @color-bg-main;
  }

  .main-menu__list {
    width: 720px - @desktop-padding;
    padding-top: 25px;
  }

  .main-menu__link {
    font-size: 20px;

    &--index {
      color: @color-bg-main;
    }
  }
}
