.map__scheme {
  display: block;

  width: 100%;
  height: 365px;

  border: none;
}

.map__desc {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;
}

.map__title {
  width: 125px;

  font-size: 16px;
  line-height: 20px;
  font-family: @font-regular;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: @color-title;
}

.map__address {
  width: 140px;

  font-size: 14px;
  line-height: 20px;
  font-family: @font-add;
  text-align: left;
  font-style: normal;
  color: @color-text-main;
}

@media (min-width: @tablet-width) {
  .map__desc {
    margin-top: 63px;
    margin-bottom: 63px;
  }

  .map__title {
    width: 160px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 25px;
  }

  .map__address {
    width: 160px;
    margin-right: 40px;

    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map__desc {
    position: absolute;
    top: 90px;
    left: @desktop-padding;

    width: 410px;
    margin: 0;
    padding: 60px 80px 60px 80px;

    background-color: @color-bg-main;
  }

  .map__address {
    text-align: left;
  }
}
