.map__scheme {
  border: none;
}

.map__desc {
  margin: 25px auto;
  padding: 0 20px;
  display: flex;
}


.map__title {
  font-size: 16px;
  line-height: 20px;
  font-family: @font-regular;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: @color-title;
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  font-family: @font-add;
  text-align: left;
  font-style: normal;
  color: @color-text-main;
}
