.page-footer {
  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: @color-bg-sub;
}

.page-footer__map {
  margin-bottom: 36px;

  &--main {
    background-color: @color-bg-main;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 27px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  width: 128px;
  height: auto;
}

.page-footer__social-list {
  .reset-list();

  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  padding-top: 17px;
  padding-bottom: 15px;

  border-top: 1px solid @color-border-main;
  border-bottom: 1px solid @color-border-main;
}

.page-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-right: 12px;
  padding-left: 12px;
}

.page-footer__social-img {
  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  path,
  circle {
    fill: @color-text-main;
  }

  &:hover,
  &:focus {
    path,
    circle {
      fill: @color-accent;
    }
  }

  &:active {
    path,
    circle {
      opacity: 0.3;
    }
  }
}

.page-footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  font-size: 16px;
  line-height: 16px;
  font-family: @font-add;
  text-align: left;
  color: @color-text-main;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__author-img {
  width: 27px;
  height: 34px;

  path {
    fill: @color-text-main;
  }

  &:hover,
  &:focus {
    path {
      fill: @color-accent;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    margin-bottom: 44px;
  }

  .page-footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 45px;
  }

  .page-footer__logo {
    width: 128px;
    height: 24px;
    margin-bottom: 0;
  }

  .page-footer__social-list {
    width: 140px;
    margin-left: 40px;
    margin-bottom: 0;
    padding-top: 10px;

    border: none;
  }

  .page-footer__social-link {
    justify-content: flex-start;
  }

  .page-footer__social-img {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__author {
    width: 165px;
    margin-bottom: 0;
  }
}
