.page-container {
  overflow: hidden;

  width: @mobile-width - 2 * @mobile-padding;
  margin-right: auto;
  margin-left: auto;
  padding-right: @mobile-padding;
  padding-left: @mobile-padding;
}

@media (min-width: @tablet-width) {
  .page-container {
    width: @tablet-width - 2 * @tablet-padding;
    margin-right: auto;
    margin-left: auto;
    padding-right: @tablet-padding;
    padding-left: @tablet-padding;
  }
}

@media (min-width: @desktop-width) {
  .page-container {
    width: @desktop-width - 2 * @desktop-padding;
    margin-right: auto;
    margin-left: auto;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}
