.page-main__title {
  margin: 15px 0 0 20px;
  padding: 0;
  padding-bottom: 27px;

  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: @regular-font;

  border-bottom: 1px solid @dark-gray;
}
