.page-main__title {
  .reset-header();

  margin-bottom: 27px;

  font-size: 36px;
  line-height: 60px;
  font-family: @font-regular;
}

.page-main__program-request {
  margin-bottom: 35px;

  border: 1px dashed #000000;
}

.page-main__request-desc {
  margin: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-regular;
  text-align: left;
  text-transform: uppercase;
  color: @color-title;
}

@media (min-width: @tablet-width) {
  .page-main__program-request {
    margin-left: 40px;
    margin-right: 40px;
  }

  .page-main__title {
    margin-top: 50px;

    font-size: 60px;
  }

  .page-main__request-desc {
    margin: 30px 280px 60px 0;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-top: 65px;
  }

  .page-main__program-request {
    margin-left: 0;
    margin-right: 0;
  }

  .form__part {
    &--columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form__list {
    &--column {
      width: 500px;
    }

    &--bordered {
      width: 500px;
    }
  }
}
