.page-container {
  padding: 0 @mobile-padding;
  width: @mobile-width - 2 * @mobile-padding;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .page-container {
    padding: 0 @tablet-padding;
    width: @tablet-width - 2 * @tablet-padding;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-container {
    padding: 0 @desktop-padding;
    width: @desktop-width - 2 * @desktop-padding;
    margin-right: auto;
    margin-left: auto;
  }
}
