.page-header {
  color: @color-title;

  background-color: @color-bg-main;
  border: 1px dashed #000000;
}

@media (min-width: @tablet-width) {
  border: none;
}

// @media (min-width: @desktop-width) {
//
// }
