.page-main__banner {
  margin-bottom: 23px;
}

.page-main__goals {
  margin-bottom: 18px;
}

.page-main__guide {
  margin-bottom: 45px;
}

.page-main__title {
  .reset-header();

  margin-top: 15px;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 60px;
  font-family: @font-regular;
}

.page-main__program-request {
  margin-bottom: 33px;
}

.page-main__request-desc {
  margin: 0;
  margin-right: 50px;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-regular;
  text-align: left;
  text-transform: uppercase;
  color: @color-title;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-top: 50px;
    margin-bottom: 55px;

    font-size: 60px;
  }

  .page-main__program-request {
    margin-bottom: 51px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-main__request-desc {
    max-width: 350px;
    margin-bottom: 67px;

    font-size: 20px;
    line-height: 30px;
  }
}

// @media (min-width: @desktop-width) {
// }
