@media (min-width: @tablet-width) {
  .page-header__menu {
    width: @tablet-width - 2 * @tablet-padding;
    margin-right: auto;
    margin-left: auto;
    padding-right: @tablet-padding;
    padding-left: @tablet-padding;
  }
}
