.slider__img-container {
  margin-bottom: 18px;
  margin-right: -20px;
  margin-left: -20px;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.slider__btn {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &--before {
    margin-right: 10px;
  }

  &--after {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    color: fade(@color-title, 50%);
  }

  &:active {
    color: fade(@color-title, 30%);
  }
}

.slider__range {
  min-width: 82px;

  appearance: none;
  background-color: transparent;

  // Стили для слайдера в Firefox
  &::-moz-range-track {
    min-width: 82px;
    height: 12px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: @color-bg-main;
    border: 1px solid @color-border-main;
    border-radius: 5px;
  }

  &::-moz-range-thumb {
    width: 50%;
    height: 6px;

    background: @color-accent;
    border-radius: 3px;
    border: none;

    appearance: none;
    cursor: pointer;
  }

  // Стили для слайдера в Chrome
  &::-webkit-slider-runnable-track {
    min-width: 82px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: @color-bg-main;
    border: 1px solid @color-border-main;
    border-radius: 5px;
  }

  &::-webkit-slider-thumb {
    width: 50%;
    height: 6px;
    margin-top: 3px;

    background: @color-accent;
    border-radius: 3px;

    appearance: none;
    cursor: pointer;
  }

  // Стили для слайдера в IE
  &::-ms-track {
    flex-grow: 1;
    margin-top: 15px;
    min-width: 82px;
    height: 12px;

    color: @color-bg-main;

    background-color: @color-bg-main;
    border-radius: 5px;
    border: 1px solid @color-border-main;

    cursor: pointer;
  }

  &::-ms-fill-lower {
    background: @color-bg-main;
    border-radius: 5px;
  }

  &::-ms-fill-upper {
    background: @color-bg-main;
    border-radius: 5px;
  }

  &::-ms-thumb {
    height: 6px;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 3px;
    background: @color-accent;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .slider__img {
    width: 690px;
  }

  .slider__range {
    min-width: 428px;
  }
}

// @media (min-width: @desktop-width) {
//
// }
