@font-face {
  font-family: "Oswald Medium";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face {
  font-family: "Oswald Regular";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@gray: #f2f2f2;
@dark-gray: #ededed;
@darkest-gray: #dbdbdb;
@greyish-brown: #444444;
@leaf: #68b738;
@white: #ffffff;
@white-three: #f2f2f2;
@black: #000000;
@black-one: #111111;
@black-two: #222222;

@medium-font: "Oswald Medium", "Arial", sans-serif;
@regular-font: "Oswald Regular", "Arial", sans-serif;
@add-font: "Arial", sans-serif;

body {
  margin: 0;
  padding: 0;
  max-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
